.App {
  text-align: center;
}

button{
  width: 100px;
  height: 80px;
}
#clear{
  width: 400px;
  background-color:chocolate;
}

#operator{
  background-color: coral;
}
.textfield{
  width: 400px;
  line-height: 3em;
  font-size: 25px;
  border:solid darkslategray 3px;
  background-color: darkslategrey;
  color: white;
  border-radius: 5px;
}